* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
section {
  padding-block: 100px;
}
.flexible-two-column-container {
  max-width: 1340px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.flexible-two-column {
  display: flex;
  align-items: center;
  gap: 60px;
}

.flexible-two-column-img,
.flexible-two-column-content {
  width: 50%;
}

.flexible-two-column-img img {
  width: 50vw;
  height: 100%;
  max-height: 650px;
  min-height: 100%;
  display: block;
  object-fit: cover;
  margin-left: var(--container-margin-right);
}

.flexible-two-column-subtitle {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #429777;
}

.flexible-two-column-title {
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.flexible-two-column-richtext {
  margin-bottom: 20px;
}

.flexible-two-column-richtext:has(p, li) {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.flexible-two-column-btn {
  text-decoration: none;
  color: #0d1c16;
  font-size: 18px;
  padding: 14px 20px;
  /* border-radius: 12px; */
  display: inline-flex;
  font-weight: 400;
  text-align: center;
  background-color: #dcf2ea;
  /* border: 2px solid #ffffff33; */
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  width: fit-content;
}
.flexible-two-column-btn:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.154);
}
/* ---------------------------------------------------------------------------------------------------- */
/* v-2 */
.flexible-two-column-2 .flexible-two-column {
  flex-direction: row-reverse;
}

.flexible-two-column-2 .flexible-two-column-title {
  margin-bottom: 30px;
}

.flexible-two-column-2 .flexible-two-column-img {
  overflow: hidden;
  border-radius: 20px;
}
.flexible-two-column-2 .flexible-two-column-btn {
  background-color: #429777;
  color: white;
  border-radius: 10px;
}

.flexible-two-column-2 .flexible-two-column-btn:hover {
  background-color: transparent;
  color: black;
  border-color: rgba(0, 0, 0, 0.347);
}

.flexible-two-column-2 .flexible-two-column-img img {
  margin-left: 0px;
  width: 100%;
}
/* -------------------------------------------------- */
.flexible-two-column-service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}
.flexible-two-column-service-item {
  background-color: #dcf2ea;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.flexible-two-column-service-item:hover {
  background-color: #429777;
}
.flexible-two-column-service-item:hover .flexible-two-column-service-icon svg {
  color: white;
}
.flexible-two-column-service-item:hover .flexible-two-column-service-name {
  color: white;
}
.flexible-two-column-service-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
}

.flexible-two-column-service-icon svg {
  width: 60px;
  aspect-ratio: 1;
  display: block;
  color: #000000;
  transition: all 0.4s ease-in-out;
}

.flexible-two-column-service-name {
  text-align: center;
  line-height: 1.1;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
  margin-top: auto;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 1023.99px) {
  .flexible-two-column-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767.99px) {
  .flexible-two-column {
    flex-direction: column;
  }

  .flexible-two-column-img,
  .flexible-two-column-content {
    width: 100%;
  }

  .flexible-two-column-img img {
    margin-left: 0;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    max-height: none;
  }

  .flexible-two-column-2 .flexible-two-column {
    flex-direction: column-reverse;
  }

  .flexible-two-column-service {
    width: 100%;
  }
}
@media only screen and (max-width: 575.99px) {
  .flexible-two-column {
    gap: 18px;
  }
  .flexible-two-column-title {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .flexible-two-column-subtitle {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .flexible-two-column-btn {
    text-decoration: none;
    color: #0d1c16;
    font-size: 16px;
    padding: 10px 12px;
  }
  .flexible-two-column-service {
    gap: 10px;
  }
  .flexible-two-column-service-item {
    background-color: #dcf2ea;
    padding: 14px;
    border-radius: 10px;
  }
  .flexible-two-column-service-icon svg {
    width: 44px;
  }
  .flexible-two-column-service-name {
    font-size: 16px;
  }
}
